<footer>
    <p>2024 &copy; All rights reserved</p>
        <p>Created by Shahid Rashid</p>
        <ul>
            <li><a href="https://github.com/shahidrashid1942/"><i class="fa-brands fa-github"></i></a></li>
            <li><a href="https://facebook.com/shahidbhat.bhat.77"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/shahidrashid09"><i class="fa-brands fa-x-twitter"></i></a></li>
        </ul>
</footer>

</div>
</body>
</html>